<a href="https://colab.research.google.com/github/azavalae/fisica_computacional/blob/main/Actividad3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

url = 'https://raw.githubusercontent.com/azavalae/fisica_computacional/main/Actividad1/26053.txt'
my_cols = ['Fecha', 'Precip', 'Evap', 'Tmax', 'Tmin']
df_dist = pd.read_csv(url, names=my_cols, encoding='cp1251', sep='\s+', header=None, skiprows=19, skipfooter=1, engine='python')
print(df_dist.head(3))
print(df_dist.tail())

        Fecha Precip  Evap  Tmax  Tmin
0  01/02/1927      0  Nulo  26.5  13.5
1  02/02/1927      0  Nulo    27  13.8
2  03/02/1927      0  Nulo  24.1  12.8
            Fecha Precip  Evap  Tmax Tmin
31650  26/04/2016      0  Nulo    33   12
31651  27/04/2016      0  Nulo    33   11
31652  28/04/2016      0  Nulo    32    8
31653  29/04/2016      0  Nulo    32   10
31654  30/04/2016      0  Nulo  Nulo   11

In [ ]:
#Imprime el encabezado y el final del dataframe
print(df_dist.head(10)) 
print(df_dist.tail(10))

        Fecha Precip  Evap  Tmax  Tmin
0  01/02/1927      0  Nulo  26.5  13.5
1  02/02/1927      0  Nulo    27  13.8
2  03/02/1927      0  Nulo  24.1  12.8
3  04/02/1927      0  Nulo  26.5  11.7
4  05/02/1927      0  Nulo  25.5   9.8
5  06/02/1927      0  Nulo  24.5   9.2
6  07/02/1927      0  Nulo  27.3  10.7
7  08/02/1927      0  Nulo  26.2  11.8
8  09/02/1927      0  Nulo  23.4   7.8
9  10/02/1927      0  Nulo  20.2   8.5
            Fecha Precip  Evap  Tmax Tmin
31645  21/04/2016      0  Nulo    38   12
31646  22/04/2016      0  Nulo    36   14
31647  23/04/2016      0  Nulo    33   13
31648  24/04/2016      0  Nulo    34   12
31649  25/04/2016      0  Nulo    34   14
31650  26/04/2016      0  Nulo    33   12
31651  27/04/2016      0  Nulo    33   11
31652  28/04/2016      0  Nulo    32    8
31653  29/04/2016      0  Nulo    32   10
31654  30/04/2016      0  Nulo  Nulo   11

In [ ]:
#Dimensiones del dataframe
df_dist.shape

(31655, 5)

In [ ]:
#Contenido del dataframe
df_dist.info

<bound method DataFrame.info of             Fecha  Precip  Evap  Tmax  Tmin
0      01/02/1927     0.0   NaN  26.5  13.5
1      02/02/1927     0.0   NaN  27.0  13.8
2      03/02/1927     0.0   NaN  24.1  12.8
3      04/02/1927     0.0   NaN  26.5  11.7
4      05/02/1927     0.0   NaN  25.5   9.8
...           ...     ...   ...   ...   ...
31650  26/04/2016     0.0   NaN  33.0  12.0
31651  27/04/2016     0.0   NaN  33.0  11.0
31652  28/04/2016     0.0   NaN  32.0   8.0
31653  29/04/2016     0.0   NaN  32.0  10.0
31654  30/04/2016     0.0   NaN   NaN  11.0

[31655 rows x 5 columns]>

In [ ]:
#Reemplazando la palabra nulo.
str_Nulo = "Nulo"
df_dist1 = df_dist.replace(to_replace=str_Nulo, value="", regex=True)
df_dist1.head()

        Fecha  Precip  Evap  Tmax  Tmin
0  01/02/1927     0.0   NaN  26.5  13.5
1  02/02/1927     0.0   NaN  27.0  13.8
2  03/02/1927     0.0   NaN  24.1  12.8
3  04/02/1927     0.0   NaN  26.5  11.7
4  05/02/1927     0.0   NaN  25.5   9.8

In [ ]:
cols_list = ['Precip', 'Evap', 'Tmax', 'Tmin']
for cols in cols_list:
  df_dist[cols] = pd.to_numeric(df_dist[cols], errors='coerce')
df_dist.info

<bound method DataFrame.info of             Fecha  Precip  Evap  Tmax  Tmin
0      01/02/1927     0.0   NaN  26.5  13.5
1      02/02/1927     0.0   NaN  27.0  13.8
2      03/02/1927     0.0   NaN  24.1  12.8
3      04/02/1927     0.0   NaN  26.5  11.7
4      05/02/1927     0.0   NaN  25.5   9.8
...           ...     ...   ...   ...   ...
31650  26/04/2016     0.0   NaN  33.0  12.0
31651  27/04/2016     0.0   NaN  33.0  11.0
31652  28/04/2016     0.0   NaN  32.0   8.0
31653  29/04/2016     0.0   NaN  32.0  10.0
31654  30/04/2016     0.0   NaN   NaN  11.0

[31655 rows x 5 columns]>

In [ ]:
df_dist.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31655 entries, 0 to 31654
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Fecha   31655 non-null  object
 1   Precip  31402 non-null  float64
 2   Evap    196 non-null    float64
 3   Tmax    31551 non-null  float64
 4   Tmin    31648 non-null  float64
dtypes: float64(4), object(1)
memory usage: 1.2+ MB

In [ ]:
df_dist.isnull().sum()

Fecha         0
Precip      253
Evap      31459
Tmax        104
Tmin          7
dtype: int64

In [ ]:
df_dist.head()
df_dist.tail()

            Fecha  Precip  Evap  Tmax  Tmin
31650  26/04/2016     0.0   NaN  33.0  12.0
31651  27/04/2016     0.0   NaN  33.0  11.0
31652  28/04/2016     0.0   NaN  32.0   8.0
31653  29/04/2016     0.0   NaN  32.0  10.0
31654  30/04/2016     0.0   NaN   NaN  11.0

In [ ]:
df_dist.describe()

             Precip        Evap          Tmax          Tmin
count  31402.000000  196.000000  31551.000000  31648.000000
mean       1.920343   10.740816     31.404349     15.111890
std        8.399203    5.587052      5.330938      5.719211
min        0.000000    0.500000      9.400000     -2.000000
25%        0.000000    9.000000     28.000000     11.000000
50%        0.000000   11.000000     32.000000     15.000000
75%        0.000000   15.000000     35.000000     20.800000
max      225.500000   18.000000     48.000000     30.000000

In [ ]:
df_dist2=df_dist.copy()

In [ ]:
df_dist2['Fecha']=pd.to_datetime(df_dist2['Fecha'], dayfirst=True).copy()
print(df_dist2.head())

       Fecha Precip  Evap  Tmax  Tmin
0 1927-02-01      0  Nulo  26.5  13.5
1 1927-02-02      0  Nulo    27  13.8
2 1927-02-03      0  Nulo  24.1  12.8
3 1927-02-04      0  Nulo  26.5  11.7
4 1927-02-05      0  Nulo  25.5   9.8

In [ ]:
df_dist2.dtypes

Fecha     datetime64[ns]
Precip            object
Evap              object
Tmax              object
Tmin              object
dtype: object

In [ ]:
df_dist2['Año'] = df_dist2['Fecha'].dt.year
df_dist2['Mes'] = df_dist2['Fecha'].dt.month

In [ ]:
print(df_dist2.head())
print(df_dist2.tail())

       Fecha Precip  Evap  Tmax  Tmin   Año  Mes
0 1927-02-01      0  Nulo  26.5  13.5  1927    2
1 1927-02-02      0  Nulo    27  13.8  1927    2
2 1927-02-03      0  Nulo  24.1  12.8  1927    2
3 1927-02-04      0  Nulo  26.5  11.7  1927    2
4 1927-02-05      0  Nulo  25.5   9.8  1927    2
           Fecha Precip  Evap  Tmax Tmin   Año  Mes
31650 2016-04-26      0  Nulo    33   12  2016    4
31651 2016-04-27      0  Nulo    33   11  2016    4
31652 2016-04-28      0  Nulo    32    8  2016    4
31653 2016-04-29      0  Nulo    32   10  2016    4
31654 2016-04-30      0  Nulo  Nulo   11  2016    4

In [ ]:
df_dist2.dtypes